body {
    background-color: #f0f1ec;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Signika";
}
#header {
    background-color: #3a5065;
    text-align: center;
    color: #f0f1ec;
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 1300px) {
    .header {
        width: 50%;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: row;

        img {
            height: 3rem;
            transition: all 0.3s;
        }
        img:hover {
            transform: scale(1.08);
        }
    }

    #main {
        width: 75%;
        height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .chooseCharacter {
        width: 50%;
        text-align: center;
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;

        img {
            width: 5rem;
            position: relative;
            font-family: "Signika";
        }
    }

    .chooseCharacter button {
        border: none;
    }
    .characterCard {
        width: 50%;
        padding: 3rem;
        text-align: center;
    }

    .chooseCharacter button {
        border: none;
        transition: all 0.3s;
    }

    .chooseCharacter button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .chooseCharacter button:active {
        opacity: 0.9;
    }

    .characterCard {
        display: flex;
        flex-direction: column;
    }

    .artifactsCard {
        display: flex;
        flex-direction: row;

        img {
            width: 5rem;
            margin: 0 0.5rem 0 0.5rem;
        }
    }

    .weaponCard {
        img {
            width: 10rem;
        }
    }

    #footer {
        padding: 1rem;
        background-color: #3a5065;
        text-align: center;
        color: #f0f1ec;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px) {
    .header {
        width: 50%;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: row;

        img {
            height: 3rem;
            transition: all 0.3s;
        }
        img:hover {
            transform: scale(1.08);
        }
    }

    #main {
        width: 100%;
        height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .chooseCharacter {
        width: 40%;
        text-align: center;
        padding: 3rem;
        border-right: 0.125rem solid #3a5065;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;

        img {
            width: 3rem;
            position: relative;
            font-family: "Signika";
        }
    }

    .characterCard {
        width: 60%;
        text-align: center;
        padding: 3rem;
    }

    .chooseCharacter button {
        border: none;
        transition: all 0.3s;
    }
    .chooseCharacter button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .characterCard {
        display: flex;
        flex-direction: column;
    }

    .artifactsCard {
        display: flex;
        flex-direction: row;

        img {
            width: 4.5rem;
            margin: 0 0.5rem 0 0.5rem;
        }
    }

    .weaponCard {
        img {
            width: 10rem;
        }
    }

    #footer {
        padding: 1rem;
        background-color: #3a5065;
        text-align: center;
        color: #f0f1ec;
    }
}

@media only screen and (max-width: 1023px) {
    #header {
        display: flex;
        flex-direction: column;

        .header {
            width: 100%;

            img {
                width: 3rem;
                padding-bottom: 1rem;
            }
        }
    }

    #main {
        display: flex;
        flex-direction: column;
        text-align: center;

        .chooseCharacter {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 1rem;
            height: fit-content;
            padding: 1rem;
            border-bottom: #3a5065 0.125rem solid;

            img {
                width: 3rem;
            }

            button {
                border: none;
            }
        }

        .characterCard {
            .artifactsCard {
                span {
                    padding: 1rem;
                }
                img {
                    width: 8rem;
                }
            }
            .weaponCard {
                img {
                    width: 10rem;
                }
            }
        }
    }

    #footer {
        text-align: center;
        padding: 1rem;
        background-color: #3a5065;
        color: #f0f1ec;
    }
}

/* 
white: #e5e7e6
black: #221e22
#182840	
#3e4c59	
#f0f1ec	
#3a5065	
#cca478
*/
